body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FEFAE0;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 50%;
}

#bio-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p{
  padding-left: 25px;
}

.tile{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #DDA15E;
  border-radius: 17px;
  margin: 7px;
  height: 50px;
}